<!DOCTYPE html>
<html>
  <head>
    <title>Website Rank</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!--
      TODO: the irony is that this website is not responsive but checks if
      other websites are responseive
    -->

    <style type="text/css" media="all">
* {
  text-align: center;
}
    </style>
  </head>
  <body>

    <img src="/imgs/logo.png" alt="logo" />

    <%= yield %>

  </body>
</html>
